DATABASE_URL=
# Security
SECRET_KEY=
SARVAM_API_KEY=
OLLAMA_BASE_URL=
TAVILY_API_KEY=
GROQ_API_KEY=

# Observability
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://eu.api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=gsh-shafeeq-bolai
OTP_AUTH_KEY=